@use "../utilities" as *;

/**----------------------------------------
START: Theme Demo CSS
----------------------------------------*/

.tj-demo {
	&-area {
		padding: 120px 0 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		position: relative;
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			top: 8%;
			left: 50%;
			transform: translateX(-50%);
			width: 950px;
			height: 650px;
			border-radius: 50%;
			background: var(--tj-theme-primary);
			background: linear-gradient(
				-180deg,
				var(--tj-color-theme-primary) 0%,
				rgba(115, 67, 210, 0) 100%
			);
			-webkit-filter: blur(150px);
			filter: blur(150px);
			margin-right: -5%;
			margin-top: 0;
			opacity: 0.4;
			z-index: -1;
		}
		@media #{$md, $sm, $xs} {
			padding: 80px 0 10px;
		}
	}
	&-section {
		text-align: center;
		margin-bottom: 50px;
		&-title {
			font-size: 120px;
			background: linear-gradient(
				180deg,
				var(--tj-color-theme-primary) 0%,
				#2a1454 100%
			);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin-bottom: 0;
			line-height: 1;
		}
		&-subtitle {
			font-size: 44px;
			letter-spacing: -0.02em;
			color: var(--tj-color-common-white);
			margin-bottom: 0;
		}
		@media #{$sm} {
			&-title {
				font-size: 95px;
			}
			&-subtitle {
				font-size: 35px;
			}
		}
		@media #{$xs} {
			&-title {
				font-size: 75px;
			}
			&-subtitle {
				font-size: 32px;
			}
		}
	}
	&-wrapper {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		padding-top: 50px;
		margin-bottom: 90px;
		@media #{$md, $sm, $xs} {
			margin-bottom: 50px;
		}
	}
	&-top {
		&-content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			row-gap: 20px;
			margin-bottom: 50px;
		}
		&-title {
			font-size: 32px;
			margin-bottom: 0;
			& span {
				color: var(--tj-color-theme-primary);
			}
			@media #{$sm} {
				font-size: 28px;
			}
			@media #{$xs} {
				font-size: 24px;
			}
		}
	}
	&-thumb {
		background: #1d1129;
		padding: 20px 20px 25px;
		border-radius: 15px;
		position: relative;
		margin-bottom: 30px;
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 15px;
			background: linear-gradient(180deg, #8750f7 0%, #2a1454 100%);
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			transition: ease-out 0.4s;
		}
		& .image {
			max-width: 596px;
			width: 100%;
			margin-bottom: 25px;
			position: relative;
			transition: 0.4s;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(21, 9, 29, 0.64);
				opacity: 0;
				visibility: hidden;
				transition: 0.4s;
				border-radius: 15px;
			}
			& img {
				width: 100%;
				height: 100%;
				border-radius: 15px;
				object-fit: cover;
			}
			@media #{$md, $sm, $xs} {
				max-width: 100%;
			}
		}
		& h6 {
			text-align: center;
			font-weight: var(--tj-fw-medium);
			text-transform: uppercase;
			font-size: 16px;
			margin-bottom: 0;
		}
		&:hover {
			&::before {
				visibility: visible;
				opacity: 1;
			}
			& .image::before {
				opacity: 1;
				visibility: visible;
			}
			& .tj-demo-button {
				top: 50%;
				opacity: 1;
				visibility: visible;
			}
		}

		@media #{$xs} {
			padding: 15px 15px 25px;
		}
	}
	&-button {
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		visibility: hidden;
		transition: ease-out 0.4s;

		.tj-theme-btn {
			background-image: linear-gradient(
				to right,
				var(--tj-color-common-white) 0%,
				var(--tj-color-common-white) 51%,
				var(--tj-color-common-white) 100%
			);
			color: var(--tj-color-common-black-2);

			span {
				i {
					color: var(--tj-color-common-black-2);
				}
			}
		}
	}
}

/* !END: Theme Demo CSS */
